<main class="h-full flex flex-col">

    <div class="flex flex-col h-full">
        <!-- <div class="flex justify-between items-center mb-4">
            <h2 class="text-2xl/7 font-bold text-white sm:truncate sm:text-3xl sm:tracking-tight">Salvo Manager
            </h2>

            <div class="flex gap-2">
                @if (!locked()) {
                <button mat-fab extended (click)="clearAllSalvos()">
                    <mat-icon>delete</mat-icon>
                    Delete all
                </button>
                }
            </div>
        </div> -->

        <div cdkScrollable class="drag-container flex-1 overflow-y-auto">
            <div cdkScrollable cdkDropList #salvoDropList="cdkDropList" [cdkDropListData]="salvoList()"
                class="drag-list" (cdkDropListDropped)="drop($event)">
                @for (salvoItem of salvoList(); track $index) {
                <div #salvoEl class="drag-box my-1 mx-16 py-5 px-4" [ngClass]="salvoItem.isBreak ? 'h-28 mb-4' : 'mx-8'"
                    [class.grayed-out]="salvoItem.done" [style.background-color]="salvoItem.sourceItem?.colorHex"
                    [style.color]="salvoItem.sourceItem?.colorHex || '#000000' | contrastTextColor"
                    (click)="toggleSalvoDone(salvoItem)" cdkDrag [cdkDragDisabled]="locked()">
                    <div class="flex items-center gap-10 max-w-20">
                        <h1 [class.text-4xl]="locked()">
                            {{ (salvoItem.order ?? 0) + 1 }}
                        </h1>

                        <app-salvo-dropdown class="mr-10"
                            [currentOption]="salvoItem.extraInfo ? salvoItem.extraInfo : ''"
                            (valueChange)="dropDownValueChanges($event, salvoItem)"
                            (click)="$event.stopPropagation()"></app-salvo-dropdown>
                    </div>

                    <h1 class="text-4xl" [class.text-5xl]="salvoItem.isBreak">
                        @if(salvoItem.isBreak){
                        --- {{salvoItem.sourceItem?.name}} ---
                        }
                        @else{
                        {{salvoItem.sourceItem?.name}}
                        }
                    </h1>
                    <div class="flex justify-center items-center">
                        <mat-slide-toggle (click)="$event.stopPropagation()" (toggleChange)="toggleSalvoDone(salvoItem)"
                            [checked]="salvoItem.done"></mat-slide-toggle>
                        <button mat-icon-button (click)="$event.stopPropagation();deleteSalvoItem(salvoItem.id!)">
                            <mat-icon
                                [style.color]="salvoItem.sourceItem?.colorHex || '#000000' | contrastTextColor">delete</mat-icon>
                        </button>
                    </div>
                </div>
                }
            </div>
        </div>


        <div class="border-t border-white/20 bg-slate-900 px-4 py-4">
            <div class="flex justify-between items-center mb-4">
                <div class="flex gap-2 items-center">
                    <h2 class="text-2xl/7 font-bold text-white sm:truncate sm:text-3xl sm:tracking-tight">Source Manager
                    </h2>
                    <button mat-fab extended (click)="clearAllSalvos()">
                        <mat-icon>delete</mat-icon>
                        Delete all salvo's
                    </button>
                    <button mat-fab extended (click)="clearAllSources()">
                        <mat-icon>delete</mat-icon>
                        Delete all sources
                    </button>
                    <button mat-fab extended (click)="addSource()">
                        <mat-icon>add</mat-icon>
                        Add Source
                    </button>
                    <button mat-fab extended (click)="editSourceMode.set(true)">
                        <mat-icon>add</mat-icon>
                        Eddit Source
                    </button>
                </div>
                <div class="flex gap-2">
                    <button mat-fab extended (click)="selectNext()">
                        <mat-icon>keyboard_arrow_down</mat-icon>
                        Select next
                    </button>
                </div>
            </div>

            <ul role="list" class="flex gap-2 flex-wrap justify-center" cdkDropList [cdkDropListData]="sourceList()"
                [cdkDropListConnectedTo]="[salvoDropList]">
                @for (sourceItem of sourceList(); track $index) {
                <li class="rounded-md p-2 text-center items-center flex border text-nowrap border-white"
                    [class]="sourceItem.isBreak ? 'justify-center':'justify-between'" cdkDrag [cdkDragData]="sourceItem"
                    [style.background-color]="sourceItem.colorHex"
                    [style.color]="sourceItem.colorHex | contrastTextColor" (click)="tapSourceItem(sourceItem)">
                    @if(sourceItem.isBreak){
                    --- {{sourceItem.name}} ---
                    }
                    @else{
                    {{sourceItem.name}}
                    }

                    <div class="flex gap-0">
                        @if (editSourceMode()) {
                        <button mat-icon-button [style.color]="sourceItem.colorHex | contrastTextColor"
                            (click)="deleteSource(sourceItem.id!);$event.stopPropagation();">
                            <mat-icon>delete</mat-icon>
                        </button>

                        <button mat-icon-button [style.color]="sourceItem.colorHex | contrastTextColor"
                            (click)="editSource(sourceItem);$event.stopPropagation();">
                            <mat-icon>edit</mat-icon>
                        </button>
                        }
                    </div>
                </li>
                }
            </ul>
        </div>

    </div>

</main>