@if (!locked()) {
<mat-toolbar color="primary" class="flex flex-row justify-between">
    <h1>queue</h1>
</mat-toolbar>
}

<main class="page-wrapper ">

    <div class="flex justify-between items-center mb-4">
        <h2 class="text-2xl/7 font-bold text-white sm:truncate sm:text-3xl sm:tracking-tight">Salvo Manager
        </h2>

        <div class="flex gap-2">
            @if (!locked()) {
            <button mat-fab extended (click)="clearAllSalvos()">
                <mat-icon>delete</mat-icon>
                Clear all
            </button>

            }

            <button mat-fab extended (click)="toggleLocked()">
                <mat-icon> {{ locked() ? 'lock' : 'lock_open' }}
                </mat-icon>
                {{ locked() ? 'unlock' : 'lock' }}
            </button>
        </div>
    </div>


    <div class="flex justify-between flex-col gap-4 ">
        <div cdkScrollable class="drag-container">
            <div cdkScrollable cdkDropList #salvoDropList="cdkDropList" [cdkDropListData]="salvoList()"
                class="drag-list" (cdkDropListDropped)="drop($event)">
                @for (salvoItem of salvoList(); track $index) {
                <div #salvoEl class="drag-box my-1 mx-4 py-5 px-2.5" [class.h-12]="!locked()"
                    [ngClass]="salvoItem.isBreak ? 'h-28 mb-4' : 'mx-8'" [class.grayed-out]="salvoItem.done"
                    [style.background-color]="salvoItem.sourceItem?.colorHex"
                    [style.color]="salvoItem.sourceItem?.colorHex || '#000000' | contrastTextColor"
                    (click)="locked() && toggleSalvoDone(salvoItem)" cdkDrag [cdkDragDisabled]="locked()">
                    <h1 [class.text-4xl]="locked()">
                        {{ (salvoItem.order ?? 0) + 1 }}
                    </h1>
                    <h1 [class.text-4xl]="locked()" [class.text-5xl]="salvoItem.isBreak">
                        @if(salvoItem.isBreak){
                        --- {{salvoItem.sourceItem?.name}} ---
                        }
                        @else{
                        {{salvoItem.sourceItem?.name}}
                        }
                    </h1>
                    <h2>
                        @if (locked()) {
                        <mat-slide-toggle (click)="$event.stopPropagation()" (toggleChange)="toggleSalvoDone(salvoItem)"
                            [checked]="salvoItem.done"></mat-slide-toggle>
                        }@else {
                        <button mat-icon-button (click)="deleteSalvoItem(salvoItem.id!)">
                            <mat-icon
                                [style.color]="salvoItem.sourceItem?.colorHex || '#000000' | contrastTextColor">delete</mat-icon>
                        </button> }
                    </h2>
                </div>
                }
            </div>
        </div>


        @if (!locked()) {
        <div class="mb-20">
            <div class="flex justify-between items-center mb-4">
                <h2 class="text-2xl/7 font-bold text-white sm:truncate sm:text-3xl sm:tracking-tight">Source Manager
                </h2>
                <button mat-fab extended (click)="addSource()">
                    <mat-icon>add</mat-icon>
                    Add Source
                </button>
            </div>

            <ul role="list" class="flex gap-2 flex-wrap justify-center" cdkDropList [cdkDropListData]="sourceList()"
                [cdkDropListConnectedTo]="[salvoDropList]">
                @for (sourceItem of sourceList(); track $index) {
                <li class="rounded-md p-2 text-center items-center flex text-2xl border min-w-52 text-nowrap border-white"
                    [class]="sourceItem.isBreak ? 'justify-center':'justify-between'" cdkDrag [cdkDragData]="sourceItem"
                    [style.background-color]="sourceItem.colorHex"
                    [style.color]="sourceItem.colorHex | contrastTextColor" (click)="tapSourceItem(sourceItem)">
                    @if(sourceItem.isBreak){
                    --- {{sourceItem.name}} ---
                    }
                    @else{
                    {{sourceItem.name}}
                    }

                    <div>
                        <button mat-icon-button [style.color]="sourceItem.colorHex | contrastTextColor"
                            (click)="deleteSource(sourceItem.id!);$event.stopPropagation();">
                            <mat-icon>delete</mat-icon>
                        </button>

                        <button mat-icon-button [style.color]="sourceItem.colorHex | contrastTextColor"
                            (click)="editSource(sourceItem);$event.stopPropagation();">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </div>
                </li>
                }
            </ul>
        </div>
        }
    </div>

</main>